<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Landing</title>
  </head>
  <style>
  </style>
  <body>
    <div class="box">
        Se ha actualizado el estatus del evento: <!--Este mensaje podría cambiarse dinamicamente si lo ponemos en las BD-->
        <ul>
            <li><%=mail2[id].descripcion%></li>
            <li>Estado: <%=mail2[id].estatus%></li>
        </ul>
        <button onclick="location.href = '/validar';">Ir a validar</button>
    </div>

  </body>
</html>
